apiVersion: apps/v1
kind: Deployment
metadata:
  name: umami-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: umami-postgres
  template:
    metadata:
      annotations:
        backup.velero.io/backup-volumes: data
      labels:
        app: umami-postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16-alpine
        envFrom:
          - secretRef:
              name: umami-postgres-secret
        env:
          - name: PGDATA
            value: /var/lib/postgresql/data/pgdata
        ports:
          - containerPort: 5432
        volumeMounts:
          - name: data
            mountPath: /var/lib/postgresql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: umami-postgres-data