apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      imagePullSecrets:
        - name: github-credentials
      containers:
        - name: api
          image: ghcr.io/recomendapp/api:20251129164522
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          env:
            - name: SUPABASE_URL
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: SUPABASE_URL
            - name: SUPABASE_ANON_KEY
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: SUPABASE_ANON_KEY
            - name: SUPABASE_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: SUPABASE_JWT_SECRET
            - name: TYPESENSE_HOST
              value: "typesense.default.svc.cluster.local"
            - name: TYPESENSE_PORT
              value: "8108"
            - name: TYPESENSE_PROTOCOL
              value: "http"
            - name: TYPESENSE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: api-secret
                  key: TYPESENSE_API_KEY