configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: ${VELERO_R2_BUCKET}
      default: true
      config:
        region: auto
        s3Url: https://${VELERO_R2_ACCOUNT_ID}.r2.cloudflarestorage.com
        s3ForcePathStyle: true

credentials:
  existingSecret: velero-s3-credentials

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.11.0
    volumeMounts:
      - mountPath: /target
        name: plugins

deployNodeAgent: true
snapshotsEnabled: false
